@import "global_styles";

.sidebar{
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 397px;
    width: 397px;
    margin-left: -397px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $color-white;
    bottom: 0;
    overflow-x: hidden;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.sidebar {
    left: 0px;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #d8d8d8;
    padding-left: 20px;
    padding-top: 32px;
}

@media screen {
    .push-right {
        .sidebar {
            left: 100% !important;
        }
    }
    .sidebar {
        width: 100%;
        margin-left: -100%;
        border-right: none;
        padding-top: 0;
        padding-left: 10px;
    }
}

@media screen and (max-width: 500px) {
    .sidebar {
        top: 50px;
    }
}

/*==================*/
a
{
  text-decoration: none;
  color: $menu-blue;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  ul {
      list-style: none;
      margin: 20px 0 20px 0;
      padding: 0;
  }
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu
{
  position: absolute;
  border: 1px solid #F7F7F7;
  width: 98vw;
  height: 85vh;
  margin: -100px 0 0 -50px;
  padding-top: 1rem;
  top: 14rem;
  background: $color-white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin:  0  0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.menu_item{
  color: $menu-blue;
  font-weight: 500;
  font-family: "PNC Brand";
  &.large{
    font-size: 2.6rem;
    line-height: 6rem;
  }
  &.small{
    font-size: 2rem;
    line-height: 3.8rem;
  }
}

@media screen and (min-width: $medium-width + 1){
  #menu{
    width: 31.7rem;
  }
}

@include ultra{
  @import "./styles/ultra";
}

@include xtralarge{
  @import "./styles/xtralarge";
}

@include large{
  @import "./styles/large";
}

@include medium{
  @import "./styles/medium";
}

@include small{
  @import "./styles/small";
}