<nav class="sidebar">
  <div id="menuToggle">
      <ul class="list-group">
        <li><a routerLink="#" class="menu_item large" id="home">Home</a></li>
        <li><a routerLink="#" class="menu_item large" id="payments">Payments</a></li>
        <li><a  routerLink="#" class="menu_item large" id="receivables">Receivables</a></li>
        <li><a  routerLink="#" class="menu_item large" id="accounts">Accounts</a></li>
        <li><a  routerLink="#" class="menu_item large" id="financial-atoms">Financial Atoms</a></li>
      </ul>
      <ul class="list-group small-list">
        <li><a  routerLink="#" class="menu_item small" id="settings">Settings</a></li>
        <li><a  routerLink="#" class="menu_item small" id="need-help">Need Help?</a></li>
      </ul>
   </div>
</nav>