@import "global_styles";

.close-popup {
  display: none;
}
.popup-wrapper {
  height: 430px;
  width: 856px;
  padding: 0px;
  margin: 0px;
}
.success-your-new-pa {
  color: $color-blue;
  font-family: "PNC Brand";
  @include font-size(40);
  @include font-weight(medium);
  @include line-height(51);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}
.please-continue-to-y {
  color: #000000;
  font-family: "PNC Brand";
  @include font-size(22);
  @include font-weight(medium);
  @include line-height(28);
  text-align: center;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
.bg-button {
  height: 38px;
  width: 170px;
  background-color: $color-blue;
  color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  @include font-size(16);
  @include font-weight(medium);
  @include line-height(20px);
  text-align: center;
}
.progressbar-container {
  margin: 49px 100px 0;
  padding-bottom: 0px;
}

@include ultra {
  @import "./styles/ultra";
}
@include xtralarge {
  @import "./styles/xtralarge";
}
@include large {
  @import "./styles/large";
}
@include medium {
  @import "./styles/medium";
}
@include small {
  @import "./styles/small";
}
