<div class="popup-wrapper" id="password-success-popup" #passwordsuccesspopup>
    <div class="close-popup">    
        <button mat-button mat-dialog-close (click)="landingPage()">CLOSE
        <mat-icon matSuffix class="close-modal-icon" svgIcon="Fill-1"></mat-icon></button>
      </div>
<mat-dialog-content>
  <div class="progressbar-container">
    <app-progressbar [stepNames]="steps" [currentStepIndex]="3"></app-progressbar>
  </div>
    <div class="success-your-new-pa">{{message}}</div>
    <div class="please-continue-to-y">Please continue to your Solution Hub Account</div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="bg-button" (click)="landingPage()">CONTINUE</button>
</mat-dialog-actions>
</div>