@import "global_styles";

.popup-wrapper{
	height: 371px !important;
	width: 573px !important;

	min-height: 371px !important;
	min-width: 573px !important;
}



.success-your-new-pa {
	@include font-size(28);
	@include line-height(36);
	margin-top:14px;
	margin-left: 15px;
	margin-right: 15px;
}

.please-continue-to-y {
	@include font-size(18);
	@include line-height(23);
	margin-top: 32px;
}

.bg-button {
	height: 34px;
	width: 162px;
	margin-top: 50px;
}

.progressbar-container {
	margin-top:40px;
	margin-bottom:0px;
	margin-left: auto;
	margin-right:auto;
}
