@import "global_styles";

.content-container{
    display:flex;
    flex-direction: row;
    width:100%;
    height:86.4%;
}

.header-container{
    width: 100%;
    height: pixelsToPercent(70,821);	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.05);
    padding-top: 20px;
}

.logo{
    margin-left: 70px;
    margin-right:auto;
    display: block;
    height: 30px;
    width: 350px;
    min-width: 350px;
}

.briefcase-container{
    width:100%;
    height: pixelsToPercent(272,821);
    margin-top: 6.4%;
    text-align: center;
    margin-bottom:6.4%;
    margin-left: -50px;

    .image{   
        border-style: none;
        width: pixelsToPercent(272,1024);
        height: auto;
        max-width: 288px;
        min-width: 272px;
       
    }
}

.auth_container {
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-grow:1; 
    margin-top: 6.4%;
}

.authform_container {
    @include font-size(15);
    color: $color-blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.authform_container_welcome { 
    width: 100%;
    color: $color-blue;
    @include font-size(38);
    @include font-weight(medium);
    @include line-height(49);
    min-width: 538px;
}

.auth_progressbar{
   width: 100%;
   height: 49px;
    margin-left: -70px;
   margin-top: 3%;
   max-width: 504px;
}

.authform_container_instruction {  
    width:100%;
    opacity: 0.7;
    color: #000000;
    @include font-size(18);
    @include font-weight(medium);
    @include line-height(40);
    margin-top: 7%;
}

.pin-form {
    width: 72%;
    height: 21.65%;
    background-color: #FFFFFF;
    box-shadow: 0 50px 50px 0 rgba(0,0,0,0.05);
    opacity: 0.77;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 20.7%;
    max-width: 430px;
}

.pin-input{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 3%;
    margin-left: auto;    
    margin-right: auto;
}

.pin{
    margin: 0 5px;
    text-align: center;
    height: 65px;
    width: 40px;
    @include font-size(25);
    @include line-height(28); 
    border: solid 1px $color-blue;
    outline: none;
    border-radius: 0px;

}

.submit_button_container{
    margin-top: 30px;
}

.button {
    height: 38px;	
    width: 170px;	
    background-color: $color-dark-blue;	
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;	
    @include font-size(16);	
    @include font-weight(medium);	
    letter-spacing: 1px;	
    @include line-height(20);	
    text-align: center;
    margin-left: 35px;
    margin-bottom: 30px;    
    border: none;
}

.auth_footer_container{
    display:flex;
    height:70px !important;
    flex-direction: column;
    justify-content: flex-end;
}