<div id="master-container" class="master-container">
    <img class="password-logo" id="password-header"       alt="Logo" id="password-logo"     src="assets/icons/outline.svg">
    <img class="logo-small"    id="authentication-header" alt="Logo" id="header-logo-small" src="/assets/icons/pinacle-blue-mobile.svg">
    <!-- [ngClass]="{'': router.url==='verify/phone/welcome'}">  -->
    
    <div id="canvas-container" class="canvas-container">
        <div id="row1-container" class="row1-container">
            <div id="welcome-container" class="welcome-container">
                <h1 id="welcome" class="welcome">{{message}}</h1>
                <p id="step" class="step">Step3 - Set up your new password.</p>
            </div>
            <div id="progress-container" class="progress-container">
                <app-progressbar [stepNames]="steps" [currentStepIndex]="3"></app-progressbar>
            </div>
        </div>
    
        <div id="row2-container" class="row2-container">
            <div id="instructions-container" class="instructions-container">
                <span class="note" id="note"> Please note: </span>
                <div class="password-requirement" id="passwordRequirement">
                    <p>
                        Password requirements: case sensitive but not required; <b>8-14 characters</b>; must contain <b>one letter, one number, </b>and <b>one special
                        character</b>; must not contain three of the same character consecutively; must not contain spaces, or "&amp;",
                        "-", "+", or "=" characters; must not contain your user name; or be a previously used password.
                    </p>
                </div>
            </div>
    
            <div id="form-container" class="form-container">
                <form [formGroup]="passwordForm" class="form_holder">
                    <mat-form-field class="form-label" >
                        <input matInput maxlength="14" class="form-input-text" [(ngModel)]="obj.password" (input)="onSearchChange($event.target.value)"
                            name="password" type="password" placeholder=" New Password" formControlName="newPassword">
    
                        <mat-icon *ngIf="displayPasswordIcon==true"  class="icon-align" svgIcon="password_match"></mat-icon>
                        <mat-icon *ngIf="displayPasswordIcon==false" class="icon-error" svgIcon="password_notmatched"></mat-icon>
    
                    </mat-form-field>
                    <mat-form-field class="form-label">
                        <input matInput maxlength="14" class="form-input-text" type="password" [(ngModel)]="obj.confPassword" (input)="oncheckPassword($event.target.value)"
                            name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
                        
                        <mat-icon *ngIf="displayConfirmPassword==true"  class="icon-align" svgIcon="password_match"></mat-icon>
                        <mat-icon *ngIf="displayConfirmPassword==false" class="icon-error" svgIcon="password_notmatched"></mat-icon>
    
                    </mat-form-field>
                </form>
                <button mat-button type="submit" [disabled]="!passwordForm.valid" id="submit-btn" class="button" (click)="submitPassword()" >SUBMIT</button>
            </div>
    </div>
    <app-pre-footer></app-pre-footer>
    </div>
    