@import "global_styles";

.logo-small {
    display: none;
}

.master-container{
    @include font-pncbrand();
    width:100%;
}

.logo{
    margin-left: 40px;
}
.instructions-container{
    margin-left: 40px;
   	 
}
.row1-container{
    display: flex;
    flex-direction: row;
}

.welcome-container{
     display: flex;
     flex-direction: column;  
}

.password-requirement{
    color: #000000;		
    @include font-size(16);
    @include line-height(25);
    font-weight:500;
}
.progress-container{
     flex-direction: column;
}

.row2-container{
    display: flex;
    flex-direction: row;
}

.form-container{
    padding: 46px 30px 55px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 50px 50px 0 rgba(0,0,0,0.05);
}
.form_holder {
  display: flex;
  flex-direction: column; 
    margin: 48px 0 45.5px;
}


.icon-align{
    position: absolute;
    top: 25%;
    right: 0;
    height: 20px;
    width: 20px;
}
form{
    & input{
        padding: 5px 0 20px;
        font-size: 30px;
        width: 300px;			
        letter-spacing: 0.88px;	
    }

}


@include ultra{
    @import "./styles/ultra";
   }
   @include xtralarge{
     @import "./styles/xtralarge";
    }
    @include large{
     @import "./styles/large";
    }
    @include medium{
     @import "./styles/medium";
    }
    @include small{
     @import "./styles/small";
    }