.logo {
    display: none;
}

.logo-small {
    display: block;
}

.home {
    width: auto;
}

.sm-only { 
    display: block
}

.header-container {
    display: flex;
    justify-content: space-between;
}