@import "global_styles";

.status{
    height: 21px;		
    color: $color-dark-blue;	
    @include font-pncbrand();
    @include font-size(12);	
    @include font-weight(medium);	
    line-height: 20px;
    background: none;
    min-height: unset;
    .mat-toolbar-row {
        padding-left: 0;
        padding-right: 0; 
    }
    .text-success {
        color: $color-green;
    }
    .text-danger {
        color: $color-red;
    }
    .text-normal {
        color: $color-blue;
    }
}

.card-footer .container {
    padding-bottom: 10px;
    &.left {
        .date {
            margin-right: 5px;
        }
        .mat-icon {
            margin-right: 5px;
        }
    }
}

.date-icon{
    height: 16px !important;
    width:16px !important;
}
  
.message-icon{
    height: 16px !important;
    width:16px !important;
}

.avatar-img{
    height: 38px;
    width: 38px; 
}

.title{
    height: 22px;
    width: 203px;
    color: $color-black;
    font-family: "PNC Brand";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.mat-card {
    margin: 5px;
    padding: 5px;
    height: 160px;
    border-radius: 0px !important;
    border: 1px solid #B4B4B4;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.1);
    &.normal{
        border-left: 3px solid $color-dark-blue;
    }
    &.success {
        border-left: 3px solid $color-green;
    }
    &.danger {
        border-left: 3px solid $color-red;
    }
}

.container{
    position: absolute;
    bottom: 0px;
}

.left{
    left: 5px;
}

.right{
    right: 5px;
    display: flex; 
}

.workflow-status-icon {
    padding: 0 15px;
}

.spacer {
    flex: 1 1 auto;
}