@import "global_styles";

.popup-overlay{
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}
.popup{
    font-size: 30px;
    margin: 70px auto;
    background: #fff;
    position: relative;
}
.content {
    font-size: 15px;
}
.close-button{
    position: relative;
    float: right;   
	color: $color-dark-blue;
    top: -10px;
    right: -10px;
}