.verify-container {
  flex-direction: column;
  padding-bottom: 163px;
}

.briefcase-container {
  margin-top: 32px;
  .image {
        width: 264px;
        height: 264px;
      }
}

.form_holder {
    padding-top: 16px;
  }
    
.instructions {
  width: 465px;
  margin-left: auto;
  margin-right: auto;
  @include line-height(41);
  @include font-size(32);
  padding-bottom: 16px;
  color: $color-blue;
  @include font-weight(medium);
  text-align: center;
  }
  
  .form-container{
    height: 350px;
    width: 514px; 
    align-self: center;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.1);
    padding: 25px 36px 30px 45px;
  }

