@import "global_styles";
@import "./styles/burger";
@import "../styles/headers.scss";

.side-bar-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    opacity: 0.7;
    background: #000;
}

.header {
   box-shadow: 0px 0px 0px 1px rgba(53, 50, 50, 0.2); 
    .navbar {
        background: $color-white !important;
        flex-direction: inherit;
        -ms-flex-direction: inherit;
        align-items: center;
    }
}
a:hover {
    text-decoration: none;
    border-bottom-color: transparent;
    border-bottom-width: 0.1rem;
}
.logo-link {
    margin: 0 auto 0 0;
    span {
        color: #0069aa;
        padding-left: 5px;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
.split-header {
    display: flex;
}
.nav-burger-holder {
    padding: 10px 15px;
}
.nav-other-holder {
    width: calc(100% - 50px);
    padding: 10px 0;
}
.logo-link {
    .pnc-logo {
        display: none;
    }
}
.hamburger {
    .menu_hover {
        display: none;
    }
    &:not(.is-active) .close_on, .close_hover {
        display: none;
    }
    &:hover .menu_on {
        display: none;
    }
    &:hover:not(.is-active) .menu_hover {
        display: block;
    }
    &.is-active .menu_on, .menu_hover {
        display: none;
    }
    &.is-active .close_on {
        display: block;
    }
    &:hover.is-active .close_on {
        display: none;
    }
    &:hover.is-active .close_hover {
        display: block;
    }
}

.header-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  align-items: flex-start;
  & app-sidenav-menu{
    position: relative;
    top: -16px
  }
  .logo {
    width: auto;
    height: 3rem;
    content: url(/assets/png/pinacle-blue-sm.png);
  }
  .avatar {
    display: flex;
    max-width: 3rem;
    height: 3rem;
    margin-right: 20px;
  }
  .operatorname {
    display: none;
  }
  .help_menu {
    display: none;
  }
  .menu {
    margin-right: 0;
  }
}


.logo {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.menu {
  max-width: 30px;
  width: 100%;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
}



.header-container {
    justify-content: flex-start;
.logo{ 
      max-width:350px;
      width:100%;
      height:auto;
      content: url(/assets/icons/outline.svg);
    }
.avatar {
      display: flex;
      max-width: 30px;
      height: auto;
      margin-right: 20px;
    }
.help_menu {
      display: flex;
    }
.help {
      display: flex;
      max-width: 30px;
      margin-right: 20px;
      margin-left: auto
    }
.operatorname {
      display: flex;
      margin-left: auto;
      padding-right: 20px;
      padding-top: 10px;
      height: auto;
      width: auto;
      color: $color-blue;
      @include line-height(14);
      @include font-weight(medium);
      @include font-size(14);
      float: right;
    }
}

@include small{
    @import "./styles/small";
  }