@import "global_styles";

.password-logo{
    height: 30px;	
    width: 100%;
    margin: 20px 0;
}

.welcome-container{
    margin: 0 auto;
    flex: 1 0 auto;
}
.row1-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row2-container{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 55px;
    justify-content: center;
    align-items: center;
}

.welcome{
    height: 41px;		
    color: $color-blue;
    @include font-size(30);	
    @include font-weight(500);	
    @include line-height(38);	
}

.step{
    height: 40px;	
    width: 278px;	
    color: #000000;
    @include font-size(18);	
    @include font-weight(500);	
    @include line-height(40);	
    margin-bottom: 12px;
}

.progress-container{
    height: 49px;	
    width: 433px;
    margin: 0 auto 30px;
    flex: 1 0 auto;
}
.form-container{	
    width: 460px;
    margin-top: 0px;		
}
.form-label{
    color: black !important;	
    font-family: "PNC Brand";
    @include font-size(14);	
    @include font-weight(500);		
    letter-spacing: 0.88px;
}

.button{
    @include font-size(16);	
    @include font-weight(500);	
    @include line-height(20);			
    letter-spacing: 1px;	
    // text-align: center;
    margin-top:10px;
}

.note{
    height: 40px;	
    width: 122px;	
    color: #000000;	
    @include font-size(22);	
    @include font-weight(500);	
    @include line-height(40);	
}

.password-requirement{
    height: 118px;	
    width: 402px;	
    @include line-height(18);
}

.instructions-container{
    margin:20px auto 0;
}
