@import "global_styles";

a {
    color: #3ec7ff;
    text-decoration: none;
    @include font-weight(bold);
    @include font-size(20);
    border-bottom: 3px solid #3ec7ff;
  }


  .page{
    width:100%;
    height:$canvas-height;
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    flex-grow:1;
    text-align:center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:$color-blue;
    @include font-size(20);
    @include font-weight(normal);

   
  }
  h1{
    @include font-size(50);
    @include font-weight(medium);
    letter-spacing: 1.2px;
  }

  h2{
    @include font-weight(light);
    @include font-size(30);
    letter-spacing: 0.72px;
  }

  h3{
    @include font-weight(light);
    @include font-size(21);
    letter-spacing: 0.8px;
  }

  @include small{
    .small-header{
      @include line-height(60);
    }
  }
