<div class="header-container fixed-top">
  <img class="logo"
    id="authentication-header"
    alt="Logo"
    id="header-logo"
    src="assets/icons/outline.svg">
  <img class="logo-small"
    id="authentication-header"
    alt="Logo"
    id="header-logo-small"
    src="/assets/icons/pinacle-blue-mobile.svg"
    [ngClass]="{'home': router.url==='/verify/user/welcome'}">
    <div *ngIf="router.url==='/verify/user/welcome'" class="sm-only">
     <a [routerLink]="['/']" ><img class="home-image" type="home" alt="image" id="home-img" src="assets/svg/home-off.svg" ></a> 
    </div>
</div>