@import "global_styles";

.row1-container{
    display: flex;
    flex-direction: row;
}

.welcome-container{
     display: flex;
     flex-direction: column;  
}
.welcome-message{
    display:none;
}
.welcome-ultra{
    display:none;
}

.row2-container{
    display: flex;
    flex-direction: row;
}

.form_holder{
    display: flex;
    flex-direction: column; 
}

.form-container{
    width: 440px;
    background-color: $color-white;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.1);
    padding: 30px;
    position: relative;
    top: -110px;
    margin: 0 auto;
}
.form-label{
    color: rgba(0,0,0,0.9);	
    @include font-size(14);	
    @include font-weight(medium);	
    @include line-height(18);		
    letter-spacing: 0.88px;	
}

.mat-form-field {
    font-size: 17.5px;
    margin-bottom: 19px;
    font-family: "PNC Brand" !important;
}
.wrapper{
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-input-text{	
    @include font-size(28);
    @include font-weight(medium);
    @include line-height(18);
    letter-spacing: 0.88px;	   
}

.icon-align{
    position: relative;
}

.button{
    @include font-size(16);
    @include font-weight(medium);
    @include line-height(20);
    letter-spacing: 1px;	
}

.button-full{
    text-align:center;
    @include font-weight(medium);
}

@include ultra{
    @import "./styles/ultra";
}
@include xtralarge{
    @import "./styles/xtralarge";
}
@include large{
    @import "./styles/large";
}
@include medium{
    @import "./styles/medium";
}
@include small{
    @import "./styles/small";
}