<div id="master-container" class="master-container">
  <app-post-header></app-post-header>
  <div id="progress-container" class="progress-container">
    <app-secondary-banner></app-secondary-banner>
  </div>
  <div id="canvas-container" class="canvas-container">
    <div id="row1-container" class="row1-container">
      <div id="welcome-container" class="welcome-container">
        <h1 id="welcome" class="welcome"> Change your password here</h1>
        <span id="step" class="step">Please set up your password here</span> 
      </div>
    </div>

    <div id="row2-container" class="row2-container">
      <div id="instructions-container" class="instructions-container">
        <span class="note" id="note"> Password rules: </span>
        <div class="password-requirement" id="passwordRequirement">
          <p>
            Password requirements: case sensitive but not required; <b>8-14 characters</b>; must contain <b>one letter, one number, </b>and
            <b>one special
                      character</b>; must not contain three of the same character consecutively; must not contain spaces,
            or "&amp;", "-", "+", or "=" characters; must not contain your user name; or be a previously used password.
          </p>
        </div>
      </div>

      <div id="form-container" class="form-container">
        <form [formGroup]="changePasswordForm" class="form_holder">
          <mat-form-field class="form-label">
            <div class="wrapper">
              <input matInput maxlength="14" class="form-input-text" [(ngModel)]="obj.oldpassword" (input)="onSearchPassword($event.target.value)"
                name="Old password" type="password" placeholder="Old Password" formControlName="oldPassword">
              <mat-icon matSuffix *ngIf="displayOldPasswordIcon==true" class="icon-align" svgIcon="password_match"></mat-icon>
            </div>
          </mat-form-field>
          <mat-form-field class="form-label">
              <div class="wrapper">
            <input matInput maxlength="14" class="form-input-text" [(ngModel)]="obj.password" (input)="onSearchChange($event.target.value)"
              name="Confirm password" type="password" placeholder="Confirm Password" formControlName="confirmPassword">

            <mat-icon matSuffix *ngIf="displayPasswordIcon==true" class="icon-align" svgIcon="password_match"></mat-icon>
              </div>
          </mat-form-field>
          <mat-form-field class="form-label">
              <div class="wrapper">
            <input matInput maxlength="14" class="form-input-text" type="password" [(ngModel)]="obj.confPassword" (input)="oncheckPassword($event.target.value)"
              name="confirm New Password" placeholder="Confirm  New Password" formControlName="confirmNewPassword">
            <mat-icon matSuffix *ngIf="displayConfirmPassword==true" class="icon-align" svgIcon="password_match"></mat-icon>
              </div>
          </mat-form-field>
        </form>
        <button mat-button type="submit" [disabled]="!changePasswordForm.valid" id="submit-btn" class="button" (click)="submit()" [ngClass]="{'button-full':isSubmitted}"> {{getSubmitButtonLabel()}}</button>
      </div>
    </div>
    <app-post-footer></app-post-footer>
  </div>