@import "global_styles";

.forgot-username-content{
  height: 304px !important;
  width: 654px !important;
}

.close-popup{
  display: none;
}


.query {
  height: 38px;
  color: $color-blue;
  @include font-weight(medium);
  @include line-height(26);
  text-align: center;
}

.response {
  height: 51px;
  color: #000000;
  @include font-size(16);
  @include font-weight(medium);
  @include line-height(20);
}

.bg-button {
  height: 38px;
  background-color: $color-blue;
  color: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  margin-left: auto; 
  @include font-size(16);
  @include font-weight(medium);
  @include line-height(20);
  text-align: center;
  border-radius: 0px;
}


@include ultra {
  @import "./styles/ultra";
}

@include xtralarge {
  @import "./styles/xtralarge";
}

@include large {
  @import "./styles/large";
}

@include medium {
  @import "./styles/medium";
}

@include small {
  @import "./styles/small";
}
