<div class="forgot-username-content" id ="forgotusernamecontent" #forgotusernamecontent>
<div class="close-popup">    
  <button mat-button mat-dialog-close>CLOSE
  <mat-icon matSuffix class="close-modal-icon" svgIcon="Fill-1"></mat-icon></button>
</div>
<mat-dialog-content>
  <div class="query" id="query">You forgot your user name?</div>
  <div class="response" id="response">Not to worry, we just sent your user name to your email.</div>
</mat-dialog-content>
<hr/>
<mat-dialog-actions>
  <button mat-button class="bg-button" (click)="onContinueClick()" id="cntnu-to-login-btn">CONTINUE TO LOGIN</button>
</mat-dialog-actions>
</div>