<div id="progressbar" class="progressbar">
  <div class="step-wizard">
    <div class="progress">
      <div class="progressbar empty"></div>
      <div id="prog"
           class="progressbar"
           [style.width.%]="getProgressPercentage()"></div>
    </div>
    <ul>
      <li *ngFor="let step of stepNames; let i=index"
          [ngClass]="{'done': currentStepIndex > i, 'active': currentStepIndex === i, 'error': i === currentStepIndex && hasError}">
        <div id="step{{i}}">
          <div class="step"></div>
          <div class="title" [innerHtml]="step"></div>
        </div>
      </li>
    </ul>
  </div>
</div>