@import "global_styles";
.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 86.4%;
}

.auth_progressbar {
  max-width: 500px;
  margin-left: -9px;
}

.authform_container {
  @include font-size(15);
  text-align: center;
  color: $color-blue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.email_verify_reset {
  color: $color-blue;
  @include font-size(34);
  @include font-weight(medium);
  @include line-height(43);
}

.email_authform_container_welcome {
  color: $color-dark-blue;
  @include font-weight(medium);
}

.email_authform_container_instruction {
  color: $color-black;
  @include font-weight(medium);
}

.pin-form {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.pin-input {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.code-input {
  width: 0;
  height: 0;
  position: relative;
  top: -20px;
}

.pin {
  text-align: center;
  height: 52px;
  width: 35px;
  @include font-size(25);
  @include line-height(28);
  border: solid 1px $color-dark-blue;

  &.active {
    border-color: $color-blue;
    box-shadow: 0 0 2px $color-blue;
  }
}

.button {
  @include font-size(16);
  @include font-weight(medium);
  letter-spacing: 1px;
  @include line-height(20);
  border: none;
}

@include ultra {
  @import "./styles/ultra";
}

@include xtralarge {
  @import "./styles/xtralarge";
}

@include large {
  @import "./styles/large";
}

@include medium {
  @import "./styles/medium";
}

@include small {
  @import "./styles/small";
}
