@import "../style/banners.scss";

.avatar-banner{
    float: right;
}
.pnc-support{
    height: 67.65px;	
    width: 212px;			
    text-align: right;
    float: left;
    padding-top: ($avatar-image-height/7);
    @include line-height(30);
    @include font-weight(light);
    @include font-size(20);
}
.pnc-support-title{
    white-space: nowrap;
}

.pnc-support-name{
    @include font-weight(medium);
}

.image{	
    height: 82px;	
    width: 82px;
    border-radius:50%;
    margin-left: 15px;
}
.user-avatar{
    float: right;   
}

@include small{

}

@include xtralarge{
    @import "./styles/xtralarge";
}

@include large{
    @import "./styles/large";
}

@include medium{
    @import "./styles/medium";
}

@include small{
    @import "./styles/small";
}