<div class="bg_footer">
  <div class="copyright" id="footer">
    Copyright &copy; {{today | date:'yyyy'}}, The PNC Financial Services Group, Inc. All Rights Reserved
  </div>
  <div class="reflinks">
    <span class="span-divider">|</span>
    <a class="link" target="_blank" href="https://www.pnc.com/en/privacy-policy.html"> Web Privacy Policy </a>
    <span class="span-divider">|</span>
    <a class="link" target="_blank" href="https://www.pnc.com/en/corporate-and-institutional/pnc-general-disclosure.html"> PNC General Disclosure</a>
    <span class="span-divider">|</span>
    <a class="link" target="_blank" href="https://www.pnc.com/en/corporate-and-institutional.html"> PNC.com </a>
  </div>
</div>