.avatar-component{
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:18px;
    display: flex;
    align-content: flex-start;
}

.welcometext{
    @include font-size(21);
    @include font-weight(300);
     @include line-height(36);
    // margin-bottom: 8px;
    padding-bottom: 0px;
}
.welcometext1{
     @include line-height(0);
 }
 .tasktext{
     margin-right: 3px;
     padding-top: 0.45%;
     padding-bottom:29.3px;
    // @include font-face(italic);
 }
.banner-body{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 9px;
}
// .bg-banner{
//     height: 271px; 
// }
// .tasktext{
//     padding-bottom:0px;
// }
.tab-menu-container{
    display: none !important;
}

#secondary-menu-dropdown{
    display: inline-block;
    margin-top: 3px;

.dropdown-filled{
    height: 10.33px !important;	
    width: 14px !important;
}
    
}
.solution-hub{
    @include font-size(20);
    @include font-weight(500);
    @include font-pncbrand();	
    margin-bottom: 0px !important;
}

.mat-form-field-infix{
    border-top: 0px !important;
    padding-top: 10px !important;
}
.mat-form-field-wrapper{
    padding-bottom: 0px !important;
}

.mat-select-arrow-wrapper{
    display: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
    height: 0px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-ripple{
    height: 0px !important;
}

.mat-form-field{
    font-family: "Pnc-brand";
}
.mat-select-panel {
    background: linear-gradient(75deg, #00A1D6 0%, $color-blue 100%);
    margin-left: 18px !important;
    margin-top: 15px !important;
    
}

.mat-option-text {
    color: #ffffff;
}
