
.bg-banner{
    padding-bottom:0px;
}
.banner-title{
    @include font-size(40); 
}
.banner-body{
    display: flex;
    flex-direction: column;
}

.banner-title-content .mat-icon{
    margin-top: -5px !important;
 }

 .avatar-component{
    margin-top:58px;
    margin-right:0px;
    margin-left:20px;
    margin-bottom:18px;
    display: flex;
    align-content: flex-start;
}