<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<!-- Set the logging file folder - .logs starts at current directory -->
	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
	
	<Appenders>
		<RollingFile name="File" fileName="${basePath}/app.log" filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{2} -%msg%n"/>
			<Policies>
				<!-- interval = days (1 is every day) -->
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				
				<!-- Base on size - If file gets bigger than size- New one created. -->
				<SizeBasedTriggeringPolicy size="500 KB"/>
			</Policies>
		</RollingFile>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1} -%msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
        <Root level="debug">
			<AppenderRef ref="File"/>
		</Root>
		
		<!-- Log Based on Package and level per package - using the correct Appender by name -->
		<!-- additivity=false - means do not repeat logging info. -->
		<Logger name="pages" level="debug" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		<Logger name="pages" level="info" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>				
	</Loggers>
</Configuration>