<mat-card class="card-type normal" id="task_card_{{index}}" [class.success]="task.status === 'COMPLETE'" [class.danger]="task.status === 'BLOCKED'">
    <mat-toolbar class="status">
        <mat-toolbar-row>
            <span id="status_{{index}}" [ngClass]="{
                'text-success': task.status === 'COMPLETE',
                'text-danger': task.status === 'BLOCKED',
                'text-normal': task.status !== 'COMPLETE' && task.status !== 'BLOCKED'
            }">{{task.status }}</span>
            <span class="spacer"></span>
            <span class="card-icons" [ngSwitch]="type">
                    <img id="check_badge_{{index}}" *ngSwitchCase="'RECOMM'" class="workflow-status-icon new-badge-icon" src=" ../../assets/icons/new.svg"/>
                <img id="blocked_badge_{{index}}" *ngSwitchCase="'BLOCKED'" class="workflow-status-icon" src=" ../../assets/icons/blocked.svg"/>
                <img id="check_badge_{{index}}" *ngSwitchCase="'COMPLETE'" class="workflow-status-icon" src=" ../../assets/icons/complete.svg"/>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="title" id="title_{{index}}"> {{ task.title }} </div>
    <div class="card-footer">
        <div class="container left">
            <span class="date" id="date_{{index}}">
                <mat-icon id="date_icon_{{index}}" matSuffix class="date-icon" svgIcon="date"></mat-icon>{{task.date}}
            </span>
            <span class="numberOfMessages" id="numberOfMessages_{{index}}">
                <mat-icon id="message_icon_{{index}}" matSuffix class="message-icon" svgIcon="comments"></mat-icon>{{task.numberOfMessages}}
            </span>
        </div>
        <div class="container right" id="avatar_block_{{index}}">
            <img *ngFor="let imgObj of task.img" class="avatar-img" [src]="imgObj" alt="" />
        </div>
    </div>
</mat-card>
