@import "../style/banners";

.bg-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;	
    background:linear-gradient(225deg, #00A1D6 0%, $color-blue 100%);
    min-height: 150px;	
    width:100%;
    padding-bottom:56px;
    margin:0;
}

.avatar-component{
     margin-top:7px;
     margin-right:20px;
}

.info-banner{
    float: left; 
    padding-left:20px;  
    padding-top:20px; 
}
.banner-title{
   @include font-size(40);
    padding-top:2px;
   max-width:50%;
 }

 
 
 .banner-title-content{
     display: inline-flex;
     height: auto;
     flex-direction: column;
     justify-content: space-around;
     vertical-align:middle;
     @include line-height(50);
     @include font-weight(medium);
     @include font-size(50);
 }

.banner-title-content .mat-icon{
    height: 40px !important;
    width: 40px !important;
    margin-top: -15px !important;
 }


.tasktext{
    @include line-height(18);
    @include font-weight(medium);
    @include font-size(20);
    padding-top:1em;
    margin-left:2px;
    margin-right:168px;
    white-space: nowrap;
    padding-bottom: 12px;


}
.tasktext a {
    color:#FFFFFF;
}
.banner-progressbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 56px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}
.est-label{
    @include font-size(12);
    @include line-height(14);
    margin: 10px 0px 0px 5px;
    height:20px;
}
.workflow-layout{
    display: flex;
    flex-direction: row;
    height:60px;
}
.workflow-status-icon{
    padding-top: 7px;
    z-index: 1;
    position: relative;
}
.workflow-icon-wrapper{
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    margin-left:18px;
}
.workflow-label{	
    color: #FFFFFF;	
    @include line-height(10);
    @include font-weight(medium);
    @include font-size(12);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;	
    margin-top:1em;
}
.workflow-success{
    width: 195px;
    height: 4px;
    margin-top: 15px;
    margin-left: -10px;
    background-color: #6BB536;
    // z-index: 0;
    position: relative;
}
.workflow-error{
    height: 4px;
    width: 70px; 
    margin-top: 15px;
    margin-left: -20px;
    background-color: #CE0000;
    z-index: 0;
    position: relative;
}
.workflow-not-started{
    height: 4px;
    width: 120px;
    margin: 15px -30px 0px -10px;
    background-color: #FFFFFF;
    z-index: 0;
    position: relative;
}

@include ultra{
    @import "./styles/ultra";    
}

@include xtralarge{
    @import "./styles/xtralarge";    
}

@include large{
    @import "./styles/large";
}

@include medium{
    @import "./styles/medium";
}

@include small{
    @import "./styles/small";
}