<div class="bg-banner">
        <div class="banner-body">
            <div class="info-banner">
              <div class="banner-title">
                  <span class="banner-title-content" id="banner-title">ACH  </span> 
                  <span class="banner-title-content" id="banner-title-caret">
                    <mat-icon  svgIcon="keyboard_arrow_down"></mat-icon>
                  </span>
              </div>
              <div class="tasktext">
                 You have <a id="task-text-link" href="#"> 1 blocked task </a>   
                 <!-- <span> 10 days left of Build Phase</span> -->
              </div>
              <div class="workflow-layout">
                <div class="banner-progressbar">
                    <div class="box">
                        <span><img class="workflow-status-icon" src=" ../../assets/icons/complete.svg"/> </span>
                        <span class="workflow-label"> PLAN </span>
                    </div>
                    <div class="box">
                        <span class="workflow-success"> &nbsp; </span>
                    </div>
                    <div class="box">
                        <span><img class="workflow-status-icon" src=" ../../assets/icons/issue.svg"/> </span>
                        <span class="workflow-label"> BUILD </span>
                    </div>
                    <div class="box">
                        <span class="workflow-error"> &nbsp; </span>
                    </div>
                    <div class="box">
                        <span><img class="workflow-status-icon" src=" ../../assets/icons/warning.svg"/> </span>
                    </div> 
                    <div class="box">
                       <span class="workflow-not-started"> &nbsp; </span>
                    </div> 
                    <div class="box workflow-icon-wrapper">
                       <span><img class="workflow-status-icon" src=" ../../assets/icons/notstarted.svg"/> </span> 
                       <span class="workflow-label"> LAUNCH </span>
                    </div>
                  </div>
                  <span class="est-label"> EST.09/26/2018 </span>
              </div>
            </div>
      
        <div class="avatar-component">
            <app-avatar-banner></app-avatar-banner>
        </div>            
      </div>